@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto+Condensed:wght@300&display=swap');

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    background-color: #e7613a;
    background-image:
            linear-gradient(to right, #e7613a, #DD3038);
    width: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 10px;
    color: #FFFFFF;
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
}






